<div class="flexcol flex-group-center">
	<div class='grid grid-5col' style="margin-left:5%">
		<span class="grid-span-4">
			{{localize (lookup @root.config.COSMERE_WORKBENCH.applications.skills "pluralLabel")}}
		</span>
		<a data-action="create" title='{{localize (lookup @root.config.COSMERE_WORKBENCH.applications.skills "new")}}'>
			<i class='fas fa-plus'></i>
		</a>
	</div>
	<ol>
		<li class="flexrow grid grid-6col">
			<label>{{localize (lookup @root.config.COSMERE_WORKBENCH.applications.id "full")}}</label>
			<label>{{localize (lookup @root.config.COSMERE_WORKBENCH.applications.skills "label")}}</label>
			<label>{{localize (lookup @root.config "attribute")}}</label>
			<label>{{localize (lookup @root.config.COSMERE_WORKBENCH.applications.skills.core "label")}}</label>
			<label></label>
		</li>
		{{#each entries as |entry index|}}
			<li class="flexrow grid grid-6col">
				<div class="flexrow">
					<input class="entry-input" type="text" name="entry.id" value="{{entry.id}}" data-dtype="String"
						data-index="{{@index}}" data-key="id" />
				</div>
				<div class="flexrow grid-span-2">
					<input class="entry-input" type="text" name="entry.label" value="{{entry.label}}"
						data-dtype="String" data-index="{{@index}}" data-key="label" />
				</div>
				<div class="flexrow">
					<select name='entry.attribute' class='entry-attribute' data-index="{{@index}}">
						{{#each @root.attributes as |attribute key|}}
							<option value="{{key}}" {{isSelected key entry.attribute}}>
								{{localize attribute.label}}
							</option>
						{{/each}}
					</select>
				</div>
				<div class="flexrow" style="margin-right:15px">
					<a style="text-align:center;" data-action="toggle" data-index="{{@index}}"
						title='{{localize (lookup @root.config.COSMERE_WORKBENCH.applications.skills.core "desc")}}'>
						{{#if entry.core}}
							<i class='fa-solid fa-toggle-on fa-xl' name="entry.core"></i>
						{{else}}
							<i class='fa-solid fa-toggle-off fa-xl' name="entry.core"></i>
						{{/if}}
					</a>
				</div>
				<a data-action="remove" data-index="{{@index}}"
					title='{{localize (lookup @root.config.COSMERE_WORKBENCH.applications.skills "remove")}}'>
					<i class='fas fa-trash'></i>
				</a>
			</li>
		{{/each}}
	</ol>
</div>
