<section id="currency-counter" class="currency-bar flex-group-center">
	{{#each currencies as |currency index|}}
		<ul class="currency-list">
			{{#each currency as |denomination key|}}
				<li class="grid grid-4col flexrow currency-row">
					<label class="currency-label">
						{{localize (lookup @root.config.currency.labels index)}}
						{{localize (lookup @root.config.currency.labels key)}}
					</label>
					<label class="currency-value">
						{{localize (lookup @root.config.currency "total")}}:
						{{denomination.total}}
						{{localize (lookup @root.config.currency.abbr key)}}
					</label>
					<label class="currency-value">
						{{localize (lookup @root.config.currency "currency")}}:
						{{denomination.currency}}
						{{localize (lookup @root.config.currency.abbr key)}}
					</label>
					<label class="currency-value">
						{{localize (lookup @root.config.currency "loot")}}:
						{{denomination.loot}}
						{{localize (lookup @root.config.currency.abbr key)}}
					</label>
				</li>
			{{/each}}
		</ul>
	{{/each}}
</section>
